*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box;
}

body{
  font-family:monserret;
}
nav{
  background:#0082e6;
  height:80px;
  width:100%;
}
label.logo{
  font-size:35px;
  color:#fff;
  line-height:80px;
  padding:0 100px;
  font-weight:bold;
}

nav ul{
  float:right;
  margin-right:20px;
}
nav ul li{
  display:inline-block;
  line-height:80px;
  margin:0 5px;
}
nav ul li a {
   color:#fff;
   font-size:17px;
   text-transform:uppercase;
   padding:7px 13px;
   border-radius:3px;
}
a.active,a:hover{
  background:#1b9bff;
}
.checkbtn{
   font-size:30px;
   color:#fff;
   float:right;
   line-height:80px;
   margin-right:40px;
   cursor:pointer;
   display:none;
}

#check{
  display:none;
}
@media (max-width:952px)
{
  label.logo{
    font-size:30px;
    padding-left:50px;
  }
  nav ul li a{
    font-size:16px;
  }
}

@media (max-width:952px)
{
   .checkbtn{
     display:block;
   }
   ul{
     position:fixed;
   }
}
